<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dashenckoevgeny.spring.springboot.employee_assessment.repository.EmployeeAssessmentRepository">

  <resultMap id="AssessmentResultMap" type="com.dashenckoevgeny.spring.springboot.employee_assessment.domain.entity.EmployeeAssessment" autoMapping="false">
    <id property="id" column="assessment_id"/>
    <result property="ownAssessment" column="own_assessment"/>
    <result property="expertAssessment" column="expert_assessment"/>
    <result property="managerAssessment" column="manager_assessment"/>
    <result property="finalAssessment" column="final_assessment"/>
    <result property="dateOfAssessment" column="date_of_assessment"/>
    <result property="isActive" column="is_active"/>
  </resultMap>
  
  <select id="findById" resultMap="AssessmentResultMap">
    select t.id as assessment_id,
    t.own_assessment as own_assessment,
    t.expert_assessment as expert_assessment,
    t.manager_assessment as manager_assessment,
    t.final_assessment as final_assessment,
    t.date_of_assessment as date_of_assessment,
    t.is_active as is_active
    from assessments t
    where t.id = #{id}
  </select>
  
  <select id="findAllByEmployeeId" resultMap="AssessmentResultMap">
    select t.id as assessment_id,
    t.own_assessment as own_assessment,
    t.expert_assessment as expert_assessment,
    t.manager_assessment as manager_assessment,
    t.final_assessment as final_assessment,
    t.date_of_assessment as date_of_assessment,
    t.is_active as is_active
    from assessments t
    join employees_assessments ea on t.id = ea.assessment_id
    where ea.employee_id = #{id}
  </select>
  
  <insert id="assignToEmployeeById">
    INSERT INTO employees_assessments (employee_id, assessment_id)
    VALUES (#{employeeId}, #{assessmentId})
  </insert>
  
  <update id="update">
    UPDATE assessments
    SET own_assessment = #{ownAssessment},
    expert_assessment = #{expertAssessment},
    manager_assessment = #{managerAssessment},
    final_assessment = #{finalAssessment},
    date_of_assessment = #{dateOfAssessment},
    is_active = #{isActive}
    WHERE id = #{id}
  </update>
  
  <insert id="create" keyProperty="id" keyColumn="id" useGeneratedKeys="true">
    INSERT INTO assessments (own_assessment, expert_assessment, manager_assessment, final_assessment, date_of_assessment, is_active)
    VALUES (#{ownAssessment}, #{expertAssessment}, #{managerAssessment}, #{finalAssessment}, #{dateOfAssessment}, #{isActive})
  </insert>

  <delete id="delete">
    DELETE FROM assessments
    WHERE id = #{id}
  </delete>

</mapper>